.header {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
    height: 80px;
}
.container {
    padding: 0 140px;
}
.header__content {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
    height: 80px;
}
.header__logo {
    display: flex;
    align-items: center;
    max-width: 250px;
    height: 90px;
}
.header__poisk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.poisk__inputH {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.poisk__title {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
}
.poisk__btnH {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    width: 80px;
    height: 35px;
    font-family: 'Roboto';
    font-style: normal;
}
.inputH {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 7px 9px 35px;
    max-width: 211px;
    max-height: 33px;
    border: 1px solid var(--main-color);
}
.header__dannieH {
    display: flex;
    align-items: center;
    gap: 30px;
}
.dannieH__tel {
    max-width: 110px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    white-space: nowrap;
}
.dannieH__blockH {
    display: flex;
    flex-direction: column;
}
.blockH__mail {
    max-width: 154px;
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    white-space: nowrap;
}
.blockH__btn {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
}
.menu_burger {
}
.menu-btn {
}
.menu-box {
}