@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
* {
    --main-color: #2a3e5e;
    --secondary: #ffffff;
    --dark-main: #262e3b;
    --input-text: rgba(82, 81, 81, 0.5);;
}

a {
    white-space: nowrap;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 65px;
}
h2 {
    color: var(--main-color);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}
h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}
p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
}
button {
    background-color: var(--main-color);
    color: var(--secondary);
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    border: 1px solid #FCF9F9;
    background-color: var(--secondary);
    color: var(--input-text);
    box-sizing: border-box;
}
.container {
    padding-right: 140px;
    padding-left:140px;
}
@media (max-width:1024px) {
    .container {
        padding-right: 40px;
        padding-left:40px;
    }
    .header__poisk {
        display: none;
    }
}